
html {
  display: block;
}

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  min-width: 400px; 
}

body {
  font-size: 14px;
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color: #202124;
}

body {
  display: block;
}

.All {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* --------------------------- */

.Header {
  display: flex;
  align-items: center;
  padding: 6px;
  height: 48px;
  position: relative;
}

.Header_left {
  display: inline-flex;
  position: absolute;
  left: 12px;
}

.Header_left > h3 {
  font-size: 14px;
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color: #202124;
  font-weight: 450;
  padding: 8px;
}

.Header_right {
  display: inline-flex;
  position: absolute;
  right: 12px;
}

.Header_right > a > h3 {
  font-size: 14px;
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color: #202124;
  font-weight: 450;
  padding: 8px;
  cursor: pointer;
}

.Header_right > a {
  text-decoration: none;
}

.Header_MORE_IMG {
  width: 35px;
  height: 35px;
  margin-top: 13px;
}

.Header_PROFILE_IMG {
  width: 30px;
  height: 30px;
  margin: 15px 10px 10px 10px;
  cursor: pointer;
}

/* --------------------------- */

.All_empty {
  display: flex;
  height: 85px;
}

.All_IMG_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  min-height: 150px;
  max-height: 290px;
  height: calc(100% - 560px);
  flex-shrink: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.All_IMG_Div {
  max-height: 92px;
  position: relative;
  height: 100%;
  margin-top: auto;
  margin: 30px;
  display: block;
}

.All_google_img {
  height: 130px;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
  overflow: clip;
}

/* --------------------------- */

.Top {
  padding: 20px;
  max-height: 160px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.Top_From {
  display: block;
  margin-top: 0em; 
}

.Top_From_Box {
  display: block;
}

.Top_Form_div {
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 582px;
  position: relative;
  display: block;
}


/* --------------------------- */

.Top_wrapper, .Top_wrapper::before, .Top_wrapper::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color: #202124;
}

.wrapper_bady {
  display: grid;
  place-items: center;
  min-width: 100px;
  max-width: 582px;
  padding: 10px 52px;
  border-radius: 40px;
  border: solid 1px #dfe1e5;
  height: 24px;
  position: relative;
}

.wrapper_search {
  position: absolute;
  width: 30px;
  height: 25px;
  display: flex;
  left: 10px;
  top: 8px;
}

.wrapper_icons {
  position: absolute;
  display: flex;
  height: 50px;
  right: 8px;
  top: -5px;
}


.wrapper {
  display: flex;
  box-sizing: content-box;
  padding: 2px 15px 5px 5px ;
  height: 25px;
  width: 100%;
  cursor: pointer;
}

.wrapper > p {
  margin: 0px;
  padding: 0px;
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color: #202124;
}

.words > span {
  display: block;
  height: 100%;
  padding-left: 10px;
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color: #202124;
  animation: spin_words 10s infinite;
}

.wrapper_icon_img {
  width: 18px;
  display: inline-block;
}

.words {
  overflow: hidden;
}

@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  1000% {
    transform: translateY(-400%);
  }
}

/* --------------------------- */

.Under {
  height: 300px;
  max-height: 300px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.Under_Box { 
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-width: 500px;
  max-width: 580px;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.Under_Icons {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.Under_Icon {
  display: inline-block;
  justify-content: center;
  width: 120px ;
  min-width: 80px;
  max-width: 150px;
  height: 120px;
  margin: 0px 20px 10px 20px;
  padding: 0px;
  text-align: center;
  justify-items: center;
  align-items: center;
  text-decoration-line: none;
  font-size: 13px;
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color: #202124;
  cursor: pointer;
}

.Under_Icon_img {
  background-color: #f1f5ff;
  display: block;
  width: 40px;
  border-radius: 50%;
  margin: 15px 30px 10px 30px ;
  padding: 10px ;
  cursor: pointer;
}

.Under_Icon_img:hover, .Under_Contact:hover {
  background-color: #a4beff;
}

.Under_Icon_Text {
  display: block;
  margin: 0px;
  padding: 0px;
}

.Under_Icon > a {
 text-decoration: none;
 color: #202124;
}

.Under_Contact {
  position: relative;
  background-color: #f1f5ff;
  display: block;
  width: 40px;
  border-radius: 50%;
  margin: 15px 30px 10px 30px ;
  padding: 10px ;
  cursor: pointer;
}

.Contact {
  background-color: #a4beff;
  position: absolute;
  text-align: start;
  right: -130px;
  bottom: 110px;
  padding: 10px;
  width: 200px;
  height: 180px;
  border-radius: 10px 10px 10px 0px;
}

.Contact_box {
  margin: 25px 10px 0px 10px;
}

.Contact_box > h4, .Contact_box > p {
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color: #202124;
  margin: 0px;
}

.Contact_box > h4 {
  font-weight: 800;
  font-size: 18px;
  margin: 20px 10px 10px 10px;
}

.Contact_box > p {
  font-weight: 500;
  font-size: 15px;
  margin: 10px 10px 10px 15px;
}

@media screen and (max-width: 700px) {
  .Contact {
    width: 100%;
    height: 120px;
    right: 0px;
    top: 250px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
  }
  .Contact_box {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: start;
  }
  .Contact_box > h4 {
    margin: 10px;
  }
  .Contact_box > p {
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  .Contact {
    width: 480px;
  }
}


/* --------------------------- */

.ProjectAll {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.Project_wrapper {
  display: block;
  place-items: center;
  min-width: 100px;
  max-width: 582px;
  padding: 10px 52px;
  border-radius: 40px;
  border: solid 1px #dfe1e5;
  height: 24px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.Project_wrapper:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.Project_Wood_Box {
  position: relative;
  display: flex;
}

.Project_Wood {
  width: 130px;
  position: absolute;
  left: 150px;
  top: 30px;
  cursor: pointer;
}

.Project_search {
  position: absolute;
  width: 30px;
  height: 25px;
  display: flex;
  left: 10px;
  top: 8px;
}

.Project_delete {
  position: absolute;
  width: 28px;
  display: flex;
  right: 190px;
  top: 8px;
  border-right: solid 1px #dadce0;
  cursor: pointer;
}

.Project_Icons {
  position: absolute;
  height: 45px;
  display: flex;
  right: 5px;
  top: -1px;
}

.Project_wrapper_box {
  display: flex;
  box-sizing: content-box;
  padding: 2px 15px 5px 5px ;
  height: 25px;
  width: 100%;
}

.Project_wrapper_box > p {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
}

.Project_under {
  border-bottom: solid 1px #ebebeb;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.Project_under > div {
  border-bottom: solid 2.5px #1a73e8;
  display: inline-flex;
  width: 60px;
  margin-left: 30px;
}

.Project_under_search {
  display: inline-flex;
  margin: 10px 10px 5px 0px;
  width: 25px;
  height: 25px;
}

.Project_under > div > p {
  font-size: 13px;
  margin: 20px 0px 0px -5px;
  color: #1a73e8;
}

.Project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px;
}

.ProjectBox {
  margin-bottom: 0.8em;
  height: 500px;
  width: 400px;
  margin: 10px 0px 10px 10px;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}

.ProjectCard {
  left: 15%;
  top: 12%;
  padding: 0.3em 0;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%,-50%) rotate(-43deg);
  transform: translate(-50%,-50%) rotate(-43deg);
  white-space: nowrap;
  width: 150%;
  z-index: 1;
  color: #ffffff;
}

.ProjectBox:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.ProjectBox > a {
  justify-content: center;
  display: flex;
}

.ProjectBox > a > img {
  height: 220px;
  margin: 0px;
}

.ProjectText {
  display: block;
  margin: 5px 10px 0px 10px;
  height: 150px;
}

.ProjectText > h3 {
  display: flex;
  margin: 0px;
  font-size: 20px;
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color: #202124;
}

.ProjectText > h4 {
  display: flex;
  margin: 0px 0px 20px 0px;
  font-size: 15px;
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color:  rgb(32, 33, 36, 0.7) ;
}


.ProjectIfobox > p {
  font-size: 17px;
  font-weight: 500;
  margin: 10px 0px 0px 0px;
}

.ProjectLinkBox {
  display: block;
  margin: 10px;
  justify-content: center;
}

.Project_Notion, .Project_Github {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  width: 375px;
  min-width: 375px;
  max-width: 375px;
  height: 30px;
  text-decoration: none;
  color: #202124;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 3px;
  margin: auto;
  margin-bottom: 10px;
}

.Project_Notion {
  border: solid 2px #4885ed; 
}

.Project_Notion:hover {
  background-color: #4885ed; 
}

.Project_Github {
  border: solid 2px #3cba54; 
}

.Project_Github:hover {
  background-color: #3cba54; 
}


@media screen and (max-width: 1200px) {
  .Project_Wood {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .Project {
    grid-template-columns: repeat(2, 1fr);
  }

  .ProjectBox {
    margin: 5px 0px 5px 5px;
  }

  .Project_Wood {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .Project {
    grid-template-columns: repeat(1, 1fr);
  }

  .ProjectBox {
    margin: 10px 10px 10px 10px;
  }

  .Project_Wood {
    display: none;
  }
}

/* --------------------------- */

.Profile { 
  border: solid 1px #ebebeb;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  text-align: start;
  justify-content: center;
  width: 600px;
  max-width: 700px;
  min-width: 600px;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.Profile:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ProfileTop {
  display: flex;
  flex-direction: row;
}

.ProfileBox {
  flex-direction: column;
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.ProfileBox > div > h3 {
  display: flex;
  padding: 0px;
  width: auto;
  height: 20px;
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color: #202124;
}

.ProfileIMG {
  display: inline-flex;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  margin: 10px 30px 30px 0px ;
  padding: 10px;
}

.ProfileTITLE {
  display: inline-block;
  flex-direction: column;
}

.title1 {
  display: flex;
  font-size: 17px;
  font-weight: 800;
  margin: 10px;
}

.title2 {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
}

.Porfile_aboutME {
  /* background-color: #1a73e8; */
}

.Porfile_aboutME > h6 {
  font-size: 12px;
  font-weight: 550;
  margin: 10px;
}

.info1 {
  font-size: 17px;
  font-weight: 700;
  margin: 10px;
}

.Profile3 {
  display: flex;
  /* background-color: #1a73e8; */
  text-align: start;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-top: 10px;
}

.Profile3 > h3 { 
  display: flex;
  font-size: 12px;
  font-weight: 400;
  margin: 5px 10px 5px 0px ; 
}

/* --------------------------- */

.SkillAll {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.Skill_wrapper {
  display: block;
  place-items: center;
  min-width: 100px;
  max-width: 582px;
  padding: 10px 52px;
  border-radius: 40px;
  border: solid 1px #dfe1e5;
  height: 24px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.Skill_wrapper:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.Skill_Wood_Box {
  position: relative;
  display: flex;
}

.Skill_Wood {
  width: 130px;
  position: absolute;
  left: 150px;
  top: 30px;
  cursor: pointer;
}

.Skill_search {
  position: absolute;
  width: 30px;
  height: 25px;
  display: flex;
  left: 10px;
  top: 8px;
}

.Skill_delete {
  position: absolute;
  width: 28px;
  display: flex;
  right: 190px;
  top: 8px;
  border-right: solid 1px #dadce0;
  cursor: pointer;
}

.Skill_Icons {
  position: absolute;
  height: 45px;
  display: flex;
  right: 5px;
  top: -1px;
}

.Skill_wrapper_box {
  display: flex;
  box-sizing: content-box;
  padding: 2px 15px 5px 5px ;
  height: 25px;
  width: 100%;
}

.Skill_wrapper_box > p {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
}

.Skill_under {
  border-bottom: solid 1px #ebebeb;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.Skill_under > div {
  border-bottom: solid 2.5px #1a73e8;
  display: inline-flex;
  width: 60px;
  margin-left: 30px;
}

.Skill_under_search {
  display: inline-flex;
  margin: 10px 10px 5px 0px;
  width: 25px;
  height: 25px;
}

.Skill_under > div > p {
  font-size: 13px;
  margin: 20px 0px 0px -5px;
  color: #1a73e8;
}

.skill_box {
  display: inline-flex;
  flex-direction: row;
  width: 90%;
  margin: 45px;
}

.skill_a, .skill_b, .skill_c {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.skill_a:hover, .skill_b:hover, .skill_c:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.skill_title {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: row;
  justify-items: center;
}

.skill_title > img {
  width: 60px;
}

.skill_title > h3 {
  margin: 0px;
  padding-top: 20px;
  font-size: 23px;
  font-family: Apple SD Gothic Neo,arial,sans-serif;
  color: #202124;
}

.skill_in_box {
  flex-direction: row;
  display: flex;
  margin: 10px;
  padding: 5px;
}

.skill_in_box > img {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.skill_in_text {
  display: flex;
  width: 100%;
  margin-left: 5px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.skill_in_text > h3 {
  margin: 0px;
  font-size: 19px;
  font-weight: 500;
}

@media screen and (max-width: 1300px) {
  .Skill_Wood {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .SkillAll {
    text-align: center;
    justify-content: center;
  }
  .skill_box {
    flex-direction: column;
    width: 600px;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 720px) {
  .skill_a, .skill_b, .skill_c  {
    width: 90%
  }
}